<% include header %>
<head>

</head>

<main>

<br>
<br>
<!-- to change the email that this is sent to you would insert it here at this action-->
  <form class="container" method="POST" action="https://formspree.io/cjdomaleski@gmail.com">
    <div class="row">
          <!-- input field for first name-->
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="firstName" type="text" class="validate" required="" aria-required="true" name="FirstName">
        <label for="firstName">First Name</label>
      </div>
      <!-- input field for last name-->
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="lastName" type="text" class="validate" required="" aria-required="true" name="LastName">
        <label for="lastName">Last Name</label>
      </div>
    </div>

      <div class="row">
        <!-- input field for Phone number-->
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="phoneNumber" type="tel" class="validate" required="" aria-required="true" pattern="^\d{3}-\d{3}-\d{4}$" name="Number">
          <label for="phoneNumber">Telephone(format: xxx-xxx-xxxx)</label>
        </div>
          <!-- input field for email-->
          <div class="input-field col s6">
            <i class="material-icons prefix">markunread_mailbox</i>
            <input type="email" id="email" type="tel" class="validate" required="" aria-required="true" name="Email">
            <label for="email" data-error="Please enter a vailed email address" data-success="">Email</label>
          </div>
        </div>

<!--Check what locations you're interested in-->
        <div class="row">
          <div class="input-field col s6 m6">
            <i class="material-icons prefix">add_location</i>
            <select id="location" name="location" required="required" class="validate" >
              <option value="" disabled selected>Choose your Location</option>
              <option value="Lake Oconee">Lake Oconee</option>
              <option value="Lake Sinclair">Lake Sinclair</option>
            </select>
            <label data-error="Select an option" data-success=""></label>
          </div>
          <br>
          <br>
          <br>

<!--Check what vechiles you're interested in-->

          <p>Check what vechiles you are intersted in</p>
          <input type="checkbox" class="filled-in" id="PontoonCheckBox" name="PontoonCheck" />

          <label for="PontoonCheckBox">Pontoon</label>

          <br>

          <input type="checkbox" class="filled-in" id="SkiBoatCheckBox" name="SkiBoatCheck"/>
          <label for="SkiBoatCheckBox">Ski boat</label>

          <br>

          <input type="checkbox" class="filled-in" id="JetSkiCheckBox" name="JetSkiCheck"/>
          <label for="JetSkiCheckBox">Jet Ski</label>
</div>




<br>


        <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" name="Comments"></textarea>
                  <label for="textarea1">Additonal comments/questions</label>
                </div>
              </div>


        <!-- submission button for the reservation form =-->
        <div class = "row">
          <br>
          <div class="center-align">
            <button id="button" onclick="setTimeout(myFunction, 3000)" type="submit" class="waves-effect waves-light btn ">Submit
            <i class="material-icons right">send</i>
          </div>
        </div>

        <p id="disclaimer">*Note that this is not a reservation form. This form will email us about your
          interest in Twin Lakes based upon the information provided. We wil respond
          within 24 hours with additional information.</p>

</form>


<ul class="collapsible" data-collapsible="accordion">
  <li>
        <div class="collapsible-header"><i class="material-icons">location_on</i>Need Directions? Click Here!</div>
          <div class="collapsible-body"><span>

        <div class="wrap1">
          <div class="row">
            <div class="input-field col s6">
              <iframe id="WeatherOne" src="https://www.meteoblue.com/en/weather/widget/three/lake-sinclair_united-states-of-america_4204681?geoloc=fixed&nocurrent=0&noforecast=0&noforecast=1&days=4&tempunit=FAHRENHEIT&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
              <div id="map1"></div>
            </div>

          <div class="input-field col s6">
            <iframe id="WeatherTwo" src="https://www.meteoblue.com/en/weather/widget/three/lake-oconee_united-states-of-america_4204604?geoloc=fixed&nocurrent=0&noforecast=0&noforecast=1&days=4&tempunit=FAHRENHEIT&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
            <div id="map2"></div>
          </div>
        </div>
        </div>
</span></div>
  </li>
</ul>

</main>



<script>
$(document).ready(function() {

   $(".button-collapse").sideNav();

    $('select').material_select();

    $('.collapsible').collapsible();

});
</script>

<script>
$("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});

//This function controlls the google maps their api is here https://developers.google.com/maps/documentation/javascript/ 
$(".collapsible-header").one("click", function(){

                            var myCenter1 = new google.maps.LatLng(33.412588, -83.280146);
                            var mapCanvas1 = document.getElementById("map1");
                            var mapOptions1 = {      //mapOptions defines the properties for the map
                                    center: new google.maps.LatLng(33.412588, -83.280146),  //center tells the map where to place the marker according to the lat. and long.
                                    zoom: 16,       //specifies the zoom level for the map
                                    mapTypeId: google.maps.MapTypeId.ROADMAP //speciifies the type of map to display (ROADMAP, SATELLITE, HYBRID, and TERRAIN) are the usable map types
                            }
                            var map1 = new google.maps.Map(mapCanvas1, mapOptions1);
                            var marker1 = new google.maps.Marker({
                              position:myCenter1,
                              //animation:google.maps.Animation.BOUNCE    //makes the pin bounce up and down on the map
                            });
                            marker1.setMap(map1);

                            var infoWindow1 = new google.maps.InfoWindow({    //creates an information window on the map
                              content: "Fish Tale Marina, 891 Greensboro Rd, Eatonton Ga. 31024"
                            });
                            infoWindow1.open(map1, marker1);

                            //--------------------------------------------------------------------------------------------------

                            var myCenter2 = new google.maps.LatLng(33.184465, -83.290489);
                            var mapCanvas2 = document.getElementById("map2");
                            var mapOptions2 = {      //mapOptions defines the properties for the map
                                    center: new google.maps.LatLng(33.184465, -83.290489),  //center tells the map where to place the marker according to the lat. and long.
                                    zoom: 16,       //specifies the zoom level for the map
                                    mapTypeId: google.maps.MapTypeId.ROADMAP //speciifies the type of map to display (ROADMAP, SATELLITE, HYBRID, and TERRAIN) are the usable map types
                            }
                            var map2 = new google.maps.Map(mapCanvas2, mapOptions2);
                            var marker2 = new google.maps.Marker({
                              position:myCenter2,
                              //animation:google.maps.Animation.BOUNCE  //makes the pin bounce up and down on the map
                            });
                            marker2.setMap(map2);

                            var infoWindow2 = new google.maps.InfoWindow({    //creates an information window on the map
                              content: "Little River Marina, 3066 N Columbia St, Milledgeville, Ga. 31061"
                            });
                            infoWindow2.open(map2, marker2);

});
</script>
<!-- the key for the map api is in the url below  Key: AIzaSyAn3rhrMywlxq5GQgNVWCaVEjHbycJzjhs-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn3rhrMywlxq5GQgNVWCaVEjHbycJzjhs&callback=myMap"></script>

<% include footer %>
