<footer class="page-footer" style="background-color: #869ecc">

    <nav>
      <div class = "nav-wrapper" style="background-color: #869ecc">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/prices">Prices</a></li>
            <li><a href="/jetskis">Jet Skis</a></li>
            <li><a href="/reservations">Reservations</a></li>
            <li><a href="/whattobring">What to Bring</a></li>
            <li><a href="/directionsandcontact">Directions & Contact</a></li>
            <li><a href="/aboutus">About Us</a></li>
          </ul>
    </div>
  </nav>


            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Twin Lakes Jet Ski</h5>
                <p class="grey-text text-lighten-4">Lake Oconee – Fish Tale marina 891 Greensboro Rd, Eatonton, Ga. 31024</p>
                <p class="grey-text text-lighten-4">Lake Sinclair - Little River Marina, 3066 N Columbia St, Milledgeville, Ga. 31061</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3"  href="tel:478-234-3446">478-234-3446</a></li>
                  <li><a class="grey-text text-lighten-3" href="mailto:twinlakesjetski@gmail.com?subject=Contacting Twin Lakes Jet Ski Rental">twinlakesjetski@gmail.com</a></li>
                  <li><a href="/login">Employees Only</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Twin Lakes Jet Ski
            </div>
          </div>
        </footer>
  </body>
</html>
