<% include header %>

<main>
  <style>
  div.section.white {
    background-color: #c1c5c9 !important;
    padding-bottom: 0px;
  }

img#imagetop {
  float: right;
}

img#firstImage {
  float:right;
  border-radius: 5px;
  background-color: #c1c5c9;
  padding: 10px;
   -ms-transform: rotate(7deg);/* IE 9 */
   -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
   transform: rotate(7deg);
   height: 200px;
   width: 300px;
   margin-right: 38px;
}

  </style>

  <div class="section white">
  <div class="row container">
    <h2 class="header">Pricing</h2>
  </div>
  <img id="imagetop" src="WeRentFun.png">
</div>
<!--First divider-->
<div class="row container">
      <h4 class="header">Jet Ski/Personal Watercraft</h4>
      <h5 class="header">Our jet skis</h5>
        <h6 class="flow-text">Our Yamaha FX HO is Yamaha’s most dependable water craft. It is also the most fuel efficient Jet Ski on the market. They go 50 to 60 mph. We are fully licensed, Insured, and properly maintain our Jet Skis...</h6>
          <table class="bordered">
            <thead>
              <tr>
                <th></th>
                <th>Sinclair</th>
                <th>Oconee</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Jet Ski Two Hour Rental:</td>
                <td>$130</td>
                <td>$150</td>
              </tr>
              <tr>
                <td>Jet Ski Half day (4 hrs.) Rental:</td>
                <td>$220</td>
                <td>$260</td>
              </tr>
              <tr>
                <td>Jet Ski Full Day or Overnight</td>
                <td>Call for Pricing</td>
                <td>Call for Pricing</td>
              </tr>
              <tr>
                <td>Our current rates are per jet ski. One, two or three people and there's never a passenger fee.</td>
              </tr>
            </tbody>
        </table>
        <br><br>
</div>
<!--End of first divider-->
<br>
  <img id="firstImage" src="JetSkiPic2.jpg">
<!--Start of second divider-->
  <div class="row container">

      <h4 class="header">Boats Lake Oconee</h4>
      <h5 class="header">10 passenger 21ft Chaparral Ski Boat</h5>
        <p class="flow-text">4.3 liter Mercury engine for skiing</p>

        <table class="bordered">
          <thead><tr> </tr></thead>
          <tbody>
            <tr>
              <td>8:30 AM — 4:30 PM</td>
              <td>$475</td>
            </tr>
            <tr>
              <td>24 hours 8:30 AM - 4:30 PM or 5:00 PM - 4:30 PM</td>
              <td>$525</td>
            </tr>
          </tbody>
        </table>
        <br>
</div>
<!--End of second divider-->
<br>
<img id="firstImage" src="BoatPic1.jpg">
<!--Start of third divider-->
<div class="row container">
        <h5 class="header">9 passenger 20 ft Chaparral H2O Wake Tower Boat</h5>
          <p class="flow-text">4.3 liter Mercury engine for skiing</p>

          <table class="bordered">
            <thead><tr> </tr></thead>
            <tbody>
              <tr>
                <td>8:30 AM — 4:30 PM</td>
                <td>$495</td>
              </tr>
              <tr>
                <td>24 hours 8:30 AM - 8:00 AM or 5:00 PM - 4:30 PM</td>
                <td>$550</td>
              </tr>
            </tbody>
          </table>
          <br>
</div>
<!--End of third divider-->
<br>
<img id="firstImage" src="BoatPic2.jpg">
<!--Start of fourth divider-->
<div class="row container">
        <h5 class="header">12 passenger 21 ft Cobalt Ski Boat</h5>
          <p class="flow-text">5.0 Litre Volvo engine</p>

            <table class="bordered">
              <thead><tr> </tr></thead>
              <tbody>
                <tr>
                  <td>8:30 AM — 4:30 PM</td>
                  <td>$535</td>
                </tr>
                <tr>
                  <td>24 hours 8:30 AM - 8:00 AM or 5:00 PM - 4:30 PM</td>
                  <td>$595</td>
                </tr>
              </tbody>
            </table>
            <p>Tow rope and Tube rental available. Full ski package rental available</p>
            <br>

</div>
<!--End of fourth divider-->
<br>
<img id="firstImage" src="BoatPic3.jpg">
<!--Start of fifth divider-->
<div class="row container">
        <h5 class="header">Pontoon Boat Hourly Rental</h5>
            <p class="flow-text">Call for Pricing</p>
              <br><br>


        <h5 class="header">Pontoon Boats Full Day Rental</h5>

        <table class="bordered">
          <thead>
            <tr>
              <th></th>
              <th>Sinclair</th>
              <th>Oconee</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>8:30 AM - 4:30 PM</td>
              <td>$295</td>
              <td>$450</td>
            </tr>
            <tr>
              <td>24 hours 8:30 AM - 8:00 AM or 5:00 PM - 4:30 PM</td>
              <td>$375</td>
              <td>$495</td>
            </tr>
          </tbody>
      </table>
      <br><br>

      <h5 class="header">Pontoon Boats/Ski Boat Multi day rentals also available.</h5>
          <p class="flow-text">Call for Pricing</p>
          <br>
          <img id="firstImage" src="BoatPic4.jpg">
</div>
<!--End of fifth divider-->
<br>
<!--Start of sixth divider-->

<div class="row container">
      <h5 class="header">Ask about our:</h5>
        <ul class="collection">
          <li class="collection-item">Multi Day Discounts Available on the Second Day</li>
          <li class="collection-item">Weekly Discounted Rates Available</li>
          <li class="collection-item">Water-skis/Tow Ropes Skis, Slalom, knee board, wake board also available to rent for an additional fee.</li>
          <li class="collection-item">Corporate groups welcome</li>
        </ul>
        <br>

      <h5 class="header">SAFETY INFORMATION</h5>
        <p>You and ALL DRIVERS MUST review the 10 minute video from Ga. Dept of Natural Resources before you will be allowed to operate the rental boat.</p>
        <a href="http://youtu.be/O9Y5nv-q4ZQ"> VIEW Required Safety Video</a>

        <p>You and ALL DRIVERS MUST review the Rental Orientation Checklist</p>
        <a href="images/rentalDNR.pdf">Required Rental Orientation Checklist</a>

        <p>ALL JETSKI DRIVERS MUST watch the Safety Video</p>
        <a href="https://youtu.be/tQpoEexNnxk">VIEW Required Personal Watercraft Safety Video</a>

        <p>ALL JETSKI DRIVERS MUST review the Personal Watercraft Safety Checklist</p>
        <a href="images/checklistposter.pdf">Required Personal Watercraft Safety Checklist</a>


  </div>
</div>
</main>



<!--Script for the mobile menu-->
<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

//script for the picture effect
      $('.parallax').parallax();
    });
  </script>
<% include footer %>
