
<% include header %>
<html ng-app="myApp">
<main>
  <div class="section white">
    <div class="container row">
        <h2 class="header">Admin Page</h2>
      <p>
                      <strong>User</strong>: <%= user.local.email %><br>
                </p>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/signup" class="btn btn-default btn-sm">Create New Admin</a>

    </div>
  </div>




  <div class="container" ng-controller="AppCtrl">
     <h1>Reservation List</h1>

     <table class="table">
       <thead>
         <tr>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Email</th>
           <th>Telephone</th>
           <th>Date</th>
           <th>Start Time</th>
           <th>End Time</th>
           <th>Location</th>
           <th>Tube</th>
           <th>id</th>


           <th>Action</th>
           <th>&nbsp;</th>
         </tr>
       </thead>
       <tbody><!--
         <tr ng-repeat="contact in list">
            <td>{{contactlist.name}}</td>
            <td>{{reservations.email}}</td>
            <td>{{contactlist.number}}</td
         </tr> -->
         <tr ng-repeat="reservation in reservationslist">
  <td><input class="form-control" ng-model="reservation.firstName"></td>
  <td><input class="form-control" ng-model="reservation.lastName"></td>
  <td><input class="form-control" ng-model="reservation.email"></td>
  <td><input class="form-control" ng-model="reservation.phoneNumber"></td>
  <td><input class="form-control" ng-model="reservation.startDate"></td>
  <td><input class="form-control" ng-model="reservation.startTime"></td>
  <td><input class="form-control" ng-model="reservation.endTime"></td>
  <td><input class="form-control" ng-model="reservation.location"></td>
  <td><input class="form-control" ng-model="reservation.tube"></td>
  <td><input class="form-control" ng-model="reservation.resid"></td>



  <td><button class="btn btn-primary" ng-click="updateReservation(reservation.resid, reservation.firstName)">Update</button></td>
  <td><button class="btn btn-info" ng-click="deleteReservation(reservation.resid)">Delete</button></td>
</tr>

       </tbody>
     </table>

  </div>


</main>

<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

      $('.parallax').parallax();
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="./controllers/controller.js"></script>
<% include footer %>
