<% include header %>
<main>
  <div class="section white">
    <div class="container row">
      <h2 class="header">What to Bring</h2>
    <p class="flow-text">At Twin Lakes Jet Ski, we deliver fun! But there's a few things you'll need to bring with you.<br>First - let's take care of the business stuff - You'll have to have a valid driver's license and credit card. You may drive at 16 with a Guardian, but must be 18 to rent.<br>Then, we have just a few suggestions to make your day on the lake more fun. We will furnish a waterproof map of the lake and all safety gear required.<br>You're going to get wet, so of course, you'll want to wear a swim suit and have a set of clothes to change into after your ride is over.<br>You'll probably also want to have some personal items like a comb and brush, towels, and a plastic bag for your wet clothes.<br>If you don't want to leave your wallet or other valuables in your car, you might also want to consider a waterproof case or we will have zip lock bags available. Our Waverunners have plenty of storage space, but sometimes water does splash around and get into the storage compartments.<br>You might also want to consider bringing a cooler along with drinks and sandwiches if you plan on two hours or more. Kids do get hungry after a day out on the lake! Don’t forget that sunscreen. Our Waveruuners also have adequate room for storing food and there are some great coves on the lakes for a private picnic - you'll have memories that will last a lifetime! We welcome you to come and explore the beautiful lakes, wildlife and scenery with Twin Lakes Jet Ski!</p>

<br><br>

    <h5 class="header">SAFETY INFORMATION</h5>
      <p>You and ALL DRIVERS MUST review the 10 minute video from Ga. Dept of Natural Resources before you will be allowed to operate the rental boat.</p>
      <a href="http://youtu.be/O9Y5nv-q4ZQ"> VIEW Required Safety Video</a>

      <p>You and ALL DRIVERS MUST review the Rental Orientation Checklist</p>
      <a href="images/rentalDNR.pdf">Required Rental Orientation Checklist</a>

      <p>ALL JETSKI DRIVERS MUST watch the Safety Video</p>
      <a href="https://youtu.be/tQpoEexNnxk">VIEW Required Personal Watercraft Safety Video</a>

      <p>ALL JETSKI DRIVERS MUST review the Personal Watercraft Safety Checklist</p>
      <a href="images/checklistposter.pdf">Required Personal Watercraft Safety Checklist</a>


    </div>
</div>
</main>



<!--Script for the mobile menu-->
<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

//script for the picture effect
      $('.parallax').parallax();
    });
  </script>
<% include footer %>
