<% include header %>
<main>
  <div class="section white">
    <div class="container row">
      <h2 class="header">About Us</h2>
      <br>
      <h5 class="header">Privacy Policy</h5>
        <p class="flow-text">Twin Lakes Jet Ski Rental, llc. Will not share your information with companies or individuals except as required to transact the rental.</p>
      <h5 class="header">About the Company</h5>
        <p class="flow-text">Twin Lakes Jet Ski Rental, llc. is locally owned, operated , licensed, and insured.</p>
      <h5 class="header">Contact us at:</h5>
        <p>twinlakesjetski@gmail.com </p>
        <p>(478) 234-3446</p>

  </div>
</div>
</main>



<!--Script for the mobile menu-->
<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

//script for the picture effect
      $('.parallax').parallax();
    });
  </script>
<% include footer %>
