<% include header %>
<main>
<p>Hello World!</p>



<!-- Modal Trigger
 <a class="waves-effect waves-light btn" href="#modal1">Modal</a>
-->

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4>Modal Header</h4>
     <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
   </div>
 </div>



</main>



<!--Script for the mobile menu-->
<script>
    $(document).ready(function(){


      $(".button-collapse").sideNav();

//script for the picture effect
      $('.parallax').parallax();

      //To open a modal using a trigger:
      $('.modal').modal();
        //script for opening the modal on page load
       $('#modal1').modal('open');
    });
  </script>
<% include footer %>
