<% include header %>
<main>
<p>Hello World!</p>

</main>



<!--Script for the mobile menu-->
<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

//script for the picture effect
      $('.parallax').parallax();
    });
  </script>
<% include footer %>
