<% include header %>
<head>
<style>
.wrap1 {
  background-color: grey;
}

#map1 {
  float: left;
  margin-left: 50px;
}
#map2 {
  float:right;
  margin-right: 50px;
}
h2 {
  text-align: center;
  border-top: rgba(51,51,51,0.08) 3px solid;
  border-bottom: rgba(51,51,51,0.08) 3px solid;
  background-color: #ee6e73;
}
</style>

</head>

<main>

<br>
<br>
  <form class="container" method="POST" action="/reservation/reservations">
    <div class="row">
          <!-- input field for first name-->
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="firstName" type="text" class="validate"  name="firstName">
        <label for="firstName">First Name</label>
      </div>
      <!-- input field for last name-->
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="lastName" type="text" class="validate" name="lastName">
        <label for="lastName">Last Name</label>
      </div>
    </div>

      <div class="row">
        <!-- input field for Phone number-->
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="phoneNumber" type="tel" class="validate" name="phoneNumber">
          <label for="phoneNumber">Telephone</label>
        </div>
          <!-- input field for email-->
          <div class="input-field col s6">
            <i class="material-icons prefix">markunread_mailbox</i>
            <input type="email" id="email" type="tel" class="validate" name="email">
            <label for="email">Email</label>
          </div>
        </div>



<!--Check what locations you're interested in-->
<div class="row">
          <p>Check what locaitons you are interested in</p>
          <input type="checkbox" class="filled-in" id="LakeSinclairCheckBox" />
          <label for="LakeSinclairCheckBox">Lake Sinclair</label>

          <br>

          <input type="checkbox" class="filled-in" id="LakeOconeeCheckBox"  />
          <label for="LakeOconeeCheckBox">Lake Oconee</label>


          <br>
          <br>

<!--Check what vechiles you're interested in-->

          <p>Check what vechiles you are intersted in</p>
          <input type="checkbox" class="filled-in" id="PontoonCheckBox" />
          <label for="PontoonCheckBox">Pontoon</label>

          <br>

          <input type="checkbox" class="filled-in" id="SkiBoatCheckBox" />
          <label for="SkiBoatCheckBox">Ski boat</label>

          <br>

          <input type="checkbox" class="filled-in" id="JetSkiCheckBox" />
          <label for="JetSkiCheckBox">Jet Ski</label>
</div>




<br>


        <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Additonal comments/questions</label>
                </div>
              </div>


        <!-- submission button for the reservation form =-->
        <div class = "row">
          <br>
          <div class="center-align">
            <button id="button" onclick="setTimeout(myFunction, 3000)" type="submit" class="waves-effect waves-light btn ">Submit
            <i class="material-icons right">send</i>
          </div>
        </div>

        <p style="font-size: 8px;">*Note that this is not a reservation form. This form will email us about your
          interest in Twin Lakes based upon the information provided below. We wil respond
          within 24 hours with additional information.</p>

</form>


<h2>Need Directions?</h2>
<div class="wrap1">

<div class="row">

  <div class="input-field col s6">
    <iframe src="https://www.meteoblue.com/en/weather/widget/three/lake-sinclair_united-states-of-america_4204681?geoloc=fixed&nocurrent=0&noforecast=0&noforecast=1&days=4&tempunit=FAHRENHEIT&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups" style=" float: left; margin-left: 50px; width: 400px; height: 185px"></iframe>
    <div id="map1" style="width: 400px; height: 400px; background: yellow;">Map1 will go here</div>
  </div>

  <div class="input-field col s6">
    <iframe src="https://www.meteoblue.com/en/weather/widget/three/lake-oconee_united-states-of-america_4204604?geoloc=fixed&nocurrent=0&noforecast=0&noforecast=1&days=4&tempunit=FAHRENHEIT&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups" style="float: right; margin-right: 50px; width: 400px; height: 185px"></iframe>
    <div id="map2" style="width: 400px; height: 400px; background: yellow;">Map2 will go here</div>
  </div>

</div>
          <script type="text/javascript">
                  function myMap() {
                          var mapOptions1 = {      //mapOptions defines the properties for the map
                                  center: new google.maps.LatLng(33.412588, -83.280146),  //center tells the map where to place the marker according to the lat. and long.
                                  zoom: 16,       //specifies the zoom level for the map
                                  mapTypeId: google.maps.MapTypeId.ROADMAP //speciifies the type of map to display (ROADMAP, SATELLITE, HYBRID, and TERRAIN) are the usable map types
                                  //---------------------------------------------------------------------
                                  //THE HYBRID MAP TYPE DISAPPEARS WHEN I HAVE BOTH OF THE MAPS SHOWING |
                                  //---------------------------------------------------------------------
                          }

                          var mapOptions2 = {      //mapOptions defines the properties for the map
                                  center: new google.maps.LatLng(33.184465, -83.290489),  //center tells the map where to place the marker according to the lat. and long.
                                  zoom: 16,       //specifies the zoom level for the map
                                  mapTypeId: google.maps.MapTypeId.ROADMAP //speciifies the type of map to display (ROADMAP, SATELLITE, HYBRID, and TERRAIN) are the usable map types
                          }
                          var map1 = new google.maps.Map(document.getElementById("map1"), mapOptions1);
                          var map2 = new google.maps.Map(document.getElementById("map2"), mapOptions2);
                  }

          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn3rhrMywlxq5GQgNVWCaVEjHbycJzjhs&callback=myMap"></script>
        </div>
</main>


<!--Script-->
<script>
$(document).ready(function() {

   $(".button-collapse").sideNav();

    $('select').material_select();
  });
</script>

<% include footer %>
