
  <!doctype html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--  <link rel="stylesheet" type="text/css" href="style.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title>Twin Lakes Jet Ski</title>

       </head>

    <body>
      <h1>Twin Lakes Jet Ski & Pontoon Rental<h1>
        <nav>
        <div class = "nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Jet Skis</a></li>
              <li><a href="/reservations">Reservations</a></li>
              <li><a href="#">What to Bring</a></li>
              <li><a href="#">Directions & Contact</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="/">Home</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Jet Skis</a></li>
              <li><a href="/reservations">Reservations</a></li>
              <li><a href="#">What to Bring</a></li>
              <li><a href="#">Directions & Contact</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
        </div>
      </nav>

    <script>
    <script>
      $(document).ready(function(){
          $(".dropdown-button").dropdown();
          $(".button-collapse").sideNav();
        });
    </script>
    </script>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>
