<% include header %>
<main>
<div class="section white">
  <div class="container row">
    <h2 class="header">Our Jet Skis</h2>
    <p class="flow-text">Our Yamaha FX High Output Cruisers are Yamaha’s most dependable water craft ever made by Yamaha. It is also the most fuel efficient Jet Ski on the market. These Jet Skis have a narrow, stable and comfortable feel about them. The VX 110 is longer than comparable models, providing a rider-forward design that not only accommodates a roomier, more comfortable seat, it allows for a larger rear platform. This makes re- boarding easy and offers a great place to hang out and relax with the family. They go 50 to 60 mph. and are 4 stroke low emission engines making them environmentally friendly. We are fully licensed, Insured, and properly maintain our Jet Skis………</p>
      <ul class="collection">
        <li class="collection-item">3 Passengers</li>
        <li class="collection-item">4 Stroke Engine</li>
        <li class="collection-item">130 Hp</li>
        <li class="collection-item">Full Gauges</li>
        <li class="collection-item">Integrated Bow Spray Guard</li>
        <li class="collection-item">Watertight Storage Compartment</li>
      </ul>
</div>

  <div class="container row">
    <h5 class="header">Jet Skiing is Fun and Exciting!</h5>
      <p class="flow-text">The jet ski is propelled by a jet of water rather than a propeller - reducing the risk of injury in case of falling off the craft. In the event of falling a key strapped to your wrist turns the craft off automatically and stops it in its place; so just climb back on and away you go.<br>A Jet Ski is similar to steering a bicycle, so on your first try you will probably be jet-skiing like an expert. Just remember throttle is required to steer.</p>
    <h5 class="header">Jet Ski Basics</h5>
      <p class="flow-text">If this is your first time, relax - riding a jet ski is fun and easy! First: Attach the engines emergency shut-off clip to your life-vest before you start your jet ski. This clip is a precaution to ensure that the engine is stopped automatically should you be thrown from the jet ski. If you do fall off, don't worry, there is no prop on a jet ski, just climb back on from the rear, check to be sure that your life jacket is secure, reattach the key, and then start the motor.<br>Next, place both your hands on the handlebars push the start button and slowly squeeze the throttle with the first two fingers of your right hand. While you are in close proximity to the dock, keep your speed at trolling, the lowest level. These speeds are generally 10 mph or less and do not create any wake.<br>As you begin, we recommend practice making turns at trolling speed until you are comfortable with the sensation of your weight shifting with the jet ski. Stay inside the buoys while you and avoid other Jet skiers and boats.<p>
    <h5 class="header">REMEMBER THROTLE IS REQUIRED TO TURN.</h5>
    <br><br>

    <h5 class="header">SAFETY INFORMATION</h5>
      <p>You and ALL DRIVERS MUST review the 10 minute video from Ga. Dept of Natural Resources before you will be allowed to operate the rental boat.</p>
      <a href="http://youtu.be/O9Y5nv-q4ZQ"> VIEW Required Safety Video</a>

      <p>You and ALL DRIVERS MUST review the Rental Orientation Checklist</p>
      <a href="images/rentalDNR.pdf">Required Rental Orientation Checklist</a>

      <p>ALL JETSKI DRIVERS MUST watch the Safety Video</p>
      <a href="https://youtu.be/tQpoEexNnxk">VIEW Required Personal Watercraft Safety Video</a>

      <p>ALL JETSKI DRIVERS MUST review the Personal Watercraft Safety Checklist</p>
      <a href="images/checklistposter.pdf">Required Personal Watercraft Safety Checklist</a>


    </div>
</div>






</main>



<!--Script for the mobile menu-->
<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

//script for the picture effect
      $('.parallax').parallax();

    });
  </script>
<% include footer %>
