<% include header %>
<html ng-app="myApp">
<main>


<body>
 <div class="container" ng-controller="AppCtrl">
   <h1>Reservation List</h1>

   <table class="table">
     <thead>
       <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Number</th>
         <th>Action</th>
         <th>&nbsp;</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><input class="form-control" ng-model="reservations.firstName"></td>
         <td><input class="form-control" ng-model="reservations.email"></td>
         <td><input class="form-control" ng-model="reservations.lastName"></td>
         <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
         <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
       </tr>
       <tr ng-repeat="reservations in reservationList">
         <td>{{reservations.firstName}}</td>
         <td>{{reservations.email}}</td>
         <td>{{reservations.number}}</td>
         <td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
         <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
       </tr>
     </tbody>
   </table>

</div>

<!-- Modal Trigger
 <a class="waves-effect waves-light btn" href="#modal1">Modal</a>
-->

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4>Admin Portal</h4>
   </div>

   <div class="modal-footer">
     <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>


        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

   </div>
 </div>



</main>



<!--Script for the mobile menu-->
<script>


    $(document).ready(function(){


      $(".button-collapse").sideNav();

//script for the picture effect
      $('.parallax').parallax();

      //To open a modal using a trigger:
      $('.modal').modal();
        //script for opening the modal on page load
       $('#modal1').modal('open');

 );
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!--<script src="/controllers/controller.js"></script> -->
<% include footer %>
