
<% include header %>

<main>
  <div class="section white">
    <div class="container row">
        <h2 class="header">Admin Page</h2>
      <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
  </div>

  <div class="container" ng-controller="AppCtrl">
     <h1>Reservation List</h1>

     <table class="table">
       <thead>
         <tr>
           <th>Name</th>
           <th>Email</th>
           <th>Number</th>
           <th>Action</th>
           <th>&nbsp;</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><input class="form-control" ng-model="reservations.firstName"></td>
           <td><input class="form-control" ng-model="reservations.email"></td>
           <td><input class="form-control" ng-model="reservations.lastName"></td>
           <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
           <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
         </tr>
         <tr ng-repeat="reservations in reservationList">
           <td>{{reservations.firstName}}</td>
           <td>{{reservations.email}}</td>
           <td>{{reservations.number}}</td>
           <td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
           <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
         </tr>
       </tbody>
     </table>

  </div>


</main>

<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

      $('.parallax').parallax();
    });
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <script src="./controllers/controller.js"></script>
<% include footer %>
