<% include header %>
<main>

<!--puts the form within a container. checkout http://materializecss.com/grid.html -->
  <div class="row">
    <form class="container" method="post" action="/reservationsubmit">
      <div class="row">
            <!-- input field for first name-->
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="firstName" type="text" class="validate"  name="firstName">
          <label for="firstName">First Name</label>
        </div>
        <!-- input field for last name-->
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="lastName" type="text" class="validate" name="lastName">
          <label for="lastName">Last Name</label>
        </div>
      </div>

        <div class="row">
          <!-- input field for Phone number-->
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="phoneNumber" type="tel" class="validate" name="phoneNumber">
            <label for="phoneNumber">Telephone</label>
          </div>
            <!-- input field for Phone number-->
            <div class="input-field col s6">
              <i class="material-icons prefix">markunread_mailbox</i>
              <input id="email" type="tel" class="validate" name="email">
              <label for="email">Email</label>
            </div>

          </div>


      <div class="row">
            <!-- dropdown menu for location -->
        <div class="input-field col s6 m6">
          <i class="material-icons prefix">add_location</i>
          <select id="location" name="location">
            <option value="" disabled selected>Choose your Location</option>
            <option value="Lake Oconee">Lake Oconee</option>
            <option value="Lake Sinclair">Lake Sinclair</option>
          </select>
        <!--  <label>Location</label>--> <!-- took this out until it can be added well aesthetically -->
        </div>




      <!-- dropdown menu for Vehicle type -->
        <div class="input-field col s6 m6">
          <i class="material-icons prefix">directions_boat</i>
          <select id ="vehicle" name="vehicle">
            <option value="" disabled selected>Choose your Vehicle</option>
            <option value="Lake Oconee">Pontoon</option>
            <option value="Lake Sinclair">Ski Boat</option>
            <option value="Lake Sinclair">Jetski</option>
          </select>
        <!--  <label>Vehicle</label>--> <!-- took this out until it can be added well aesthetically -->
        </div>
      </div>




      <!-- date picker for the reservation. -->
      <!-- start date-->
      <div class="row">
        <div class="input-field col s6 m6">
          <i class="material-icons prefix">event</i>
          <label for="startdate" class="datepicker">Start Date</label>
          <input id="startdate" class="picker" name="startDate">
        </label>
        </div>



        <!--end date-->
        <div class="input-field col s6 m6">
          <i class="material-icons prefix">event</i>

          <label for="enddate" class="datepicker">End Date</label>
          <input id="enddate" class="datepicker" name="endDate">

        </div>
      </div>



      <!-- time picker -->
      <!-- Start timer-->
      <div class="row">
        <div class ="input-field col s6 m6">
          <i class="material-icons prefix">access_time</i>
          <label for="startTime" class="timepicker">Start Time</label>
            <input id="startTime" class="timepicker" name="startTime">
        </div>
        <!-- end time -->
        <div class ="input-field col s6 m6">
          <i class="material-icons prefix">access_time</i>
          <label for="endTime" class="timepicker">End Time</label>
            <input id="endTime" class="timepicker" name="endTime">
          </label>
        </div>
      </div>



      <div class="row">
        <!-- Switch -->
          <div class="switch">
            <label>
              Tube desired for $35? No
              <input id="tube" type="checkbox" name="tube">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>

      <!-- input field for credit card-->
      <div class ="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">credit_card</i>
          <input id="creditCard" type="text" class="validate" name="creditCard">
          <label for="creditCard">Credit Card</label>
        </div>
      </div>

      <!-- submission button for the reservation form =-->
      <div class = "row">
        <div class="col s6 offset-s6">
          <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Submit</a>
        </div>
      </div>





    </form>
  </div>
</div>


</main>

<!-- initializing jquery for dropdown locations -->
<script>

  $(document).ready(function() {
    $('select').material_select();

/*
    //  At this time, not all pickadate.js options are working with our implementation - "materialize website http://materializecss.com/forms.html"
    $('.datepicker').pickadate({
      dateFormat: "mm/dd/yy",  //formating of text in input field
      min: 0,  //forces calendar to show only present and future dates
      max:  365, //allows reservations up to 365 days in advance
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 4, // Creates a dropdown of 15 years to control year
    closeOnSelect: true //Causes the datepicker to close when a date is selected. setting to false will keep it open.
    });
*/

//The api for the datepicker is here http://amsul.ca/pickadate.js/api/

   var $input = $('.datepicker').pickadate(


    )

    var picker = $input.pickadate('picker')

    /*
    // Using arrays formatted as [YEAR, MONTH, DATE].
picker.set('select', [2015, 3, 20])

// Using JavaScript Date objects.
picker.set('select', new Date(2015, 3, 30))

// Using positive integers as UNIX timestamps.
picker.set('select', 1429970887654)

// Using a string along with the parsing format (defaults to `format` option).
picker.set('select', '2016-04-20', { format: 'mm-dd-yyyy' })

*/

  // this is where the script for the pickatime functionshould go. Need to figure out how to get this working

    $('.timepicker').pickatime();


  });



</script>




<script>
    $(document).ready(function(){

      $(".button-collapse").sideNav();

      $('.parallax').parallax();
    });
  </script>

<!-- import pickatime -->
  <script type="text/javascript" src="pat/picker.time.js"></script>

<% include footer %>
