/* Custom CSS Style Sheet* /





/* Header */
.nav-wrapper {
  background-color: #869ecc;
}

.active {
  background-color: light blue !important;
}



/* Prices page */
img#imagetop {
  float: right;
}

img#firstImage {
  float:right;
  border-radius: 5px;
  background-color: #c1c5c9;
  padding: 10px;
   -ms-transform: rotate(7deg);/* IE 9 */
   -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
   transform: rotate(7deg);
   height: 200px;
   width: 300px;
   margin-right: 38px;
}



/* Directions and Contact Page */
.collapsible {
  background-color: grey;
}

div.collapsible-header {
  padding-left: 40%;
}

div#map1 {
  float: left;
  margin-left: 50px;
  width: 400px; height: 400px;
}
div#map2 {
  float:right;
  margin-right: 50px;
  width: 400px; height: 400px;
}

#disclaimer {
  font-size: 10px !important;
}

iframe#WeatherOne{
  float: left;
  margin-left: 50px;
  width: 400px;
  height: 185px
}

iframe#WeatherTwo {
  float: right;
  margin-right: 50px;
  width: 400px;
  height: 185px
}



/* Footer */
footer.page-footer, div.nav-wrapper {
  background-color: #869ecc;
}

a#employee-link {
  color: green;
}

a#employee-link:hover {
  color: white;
}
